PORT= 8000

MONGO_URI=mongodb://mongo:27017

REDIS_HOST=redis
REDIS_PORT=6379

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=files
MINIO_PUBLIC_URL=http://localhost:9000

expireDays=14

mail_HOST=smtp.gmail.com
mail_PORT=587
mail_USER=pongsapuk.sawarote@gmail.com
mail_PASS=xxxx xxxx xxxx xxxx

FRONTEND_URL=http://localhost:4200